
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 150px;
    background-color: #217cf3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: "Open Sans"
}

.fadeImage{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.image-bg-fluid-height {
    background-image: url('../grid-image.jpeg');
    padding: 100px 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

h3{
    line-height: 1.4em;
    font-weight: 300;
}

.nav-bar{
    height: 100px;
    background-color: white;
}

ul a{
    text-decoration: none;
    float: right;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    color: #777;
    font-size: 14px;
}

ul{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

ul li{
    list-style-type: none;
    padding-right: 15px;
}

.header-pic-title{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 0 #888888;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.title-small{
    font-size: 30px;
    color: green;
    padding: 0;
    margin: 0;
    text-shadow: none;
}

p{
    font-size: 16px;
}

.main-content{
    text-align: center;
    min-height: 87vh;
    flex: 1 0 auto;
}
.overview{
    text-align: center;
}

.user-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.field{
    padding-right: 20px;
}

input{
    padding: 5px;
    margin: 5px;
}

input, label {
    display:block;
}

.button {
    background-color: #17AD47;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 25px;
    cursor: pointer;
    padding: 10px 70px;
    border-radius: 5px;
  }

  .button:hover{
      color: black;
  }

  .graph{
      height: 1000px;
      width: 1000px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .loading{
      margin: auto;
      padding-top: 100px;
      font-size: 21px;
  }

  .hire-me{
      display: flex;
      bottom:0;
      text-align: center;
      justify-content: center;
      flex-shrink: 0;
      width: 100vw;
  }

  /* Small Screens */
@media screen and (max-width: 600px){
    .graph{
        width: 100vw;
        height: auto;
    }

    .field{
        padding-right: 5px;
    }
}